<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ticket Tocket{% endblock %}</title>
    
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <style>
        .container { max-width: 1440px; margin: 0 auto; }
        .wrap-break-word { word-wrap: break-word; overflow-wrap: break-word; }
    </style>
</head>
<body>
    {% block body %}{% endblock %}
    
    <script src="/assets/js/main.js"></script>
</body>
</html>