<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Dashboard{% endblock %}</title>
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 min-h-screen flex">

  {# Sidebar #}
  {% include 'partials/sidebar.twig' with {'isOpen': sidebarOpen} %}

  <div class="flex-1 flex flex-col">
    {# Navbar #}
    {% include 'partials/dashboard_navbar.twig' %}

    <main class="p-6 max-w-[1440px] w-full mx-auto">
      {% block content %}{% endblock %}
    </main>

    {# Footer #}
    {% include 'partials/footer.twig' %}
  </div>

</body>
</html>
